<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla :: head">
<title>Listado de Clientes por Estado</title>
<body>

	<header th:replace="layout/plantilla :: header"></header>
	
	<section th:fragment="listarCustomers" id="customers">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>[[#{customers.titulo-lista}]]</h4>
						</div>

						<div th:if="${listarCustomers != null and !listarCustomers.empty}">
							<table class="table table-striped">
								<thead class="thead-dark">
									<tr>
							<th th:text="#{customers.id}"></th>
										<th>[[#{customers.apellido}]]</th>
										<th>[[#{customers.nombre}]]</th>
										<th>[[#{customers.telefono}]]</th>
										<th>[[#{customers.email}]]</th>
										<th>[[#{customers.calle}]]</th>
										<th>[[#{customers.ciudad}]]</th>										
										<th>[[#{customers.estado}]]</th>
										<th>[[#{customers.zip}]]</th>
								
									</tr>
								</thead>
								<tbody>

									<tr th:each="customers , contador : ${listarCustomers}">
										
										<td>[[${customers.customerId}]]</td>
										<td>[[${customers.lastName}]]</td>
										<td>[[${customers.firstName}]]</td>
										<td>[[${customers.phone}]]</td>
										
										<td>[[${customers.email}]]</td>
										<td>[[${customers.street}]]</td>
										<td>[[${customers.city}]]</td>
										<td>[[${customers.state}]]</td>
										<td>[[${customers.zipCode}]]</td>
									</tr>


								</tbody>
							</table>
						</div>

						<div class="text-center p-2"
							th:if="${listarCustomers == null or listarCustomers.empty}">
							<span th:text="#{customers.msj-lista}">Lista vacía</span>
						</div>
					</div>
				</div>

			



					
				</div>
			</div>
	
	</section>
	
			<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>