<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla :: head">
<title>Listado de Ordenes por Tienda</title>
<body>

	<header th:replace="layout/plantilla :: header"></header>
	
	<section th:fragment="listarOrdenesTotales" id="ordenesTotales">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<div class="card-header">
							<h4>[[#{customers.titulo-lista}]]</h4>
						</div>

						<div th:if="${listarOrdenesTotales != null and !listarOrdenesTotales.empty}">
							<table class="table table-striped">
								<thead class="thead-dark">
									<tr>
										<th th:text="#{customers.apellido}"></th>
										<th th:text="#{customers.nombre}"></th>
										<th th:text="#{customers.cantidadOrdenes}"></th>
					
								
									</tr>
								</thead>
								<tbody>

									<tr th:each="ordenes , contador : ${listarOrdenesPorTienda}">
										
										<td>[[${ordenes.last_name}]]</td>
										<td>[[${ordenes.first_name}]]</td>
										<td>[[${ordenes.cantidadOrdenes}]]</td>
									</tr>


								</tbody>
							</table>
						</div>

						<div class="text-center p-2"
							th:if="${listarOrdenesTotales == null or listarOrdenesTotales.empty}">
							<span th:text="#{customers.msj-lista}">Lista vacía</span>
						</div>
					</div>
				</div>

				
				</div>
			</div>
	
	</section>
	
			<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>